
<!DOCTYPE html>
           <html>
           <head>
           <title>Choix Une Catégorie de Manga</title>
           </head>
           <body>
           <h1>Choisir un Tome, un Auteur et une Catégorie Manga</h1>
           <form action="/manga/" method="post">
           {% csrf_token %}
           <label for="categ">Choisir une categorie:</label>
           <select name="categ" id="categ">
               {% for cat in listcategorie %}
               <option value="{{ cat.name }}">{{ cat.name }}</option>
               {% endfor %}
           </select><br><br>
           <h1>Liste des Mangas Disponibles</h1>
           {% for manga in listallmanga %}
               <p>Nom : {{ manga.title }} ------- Autheur : {{ manga.author }}</p>
           {% endfor %}
           <input type="submit" value="Valider">
           <button><a href="http://127.0.0.1:8000/">Home</a></button>
           <button><a href="http://127.0.0.1:8000/traitementmanga/">Traitement Des Mangas</a></button>
           <button><a href="http://127.0.0.1:8000/traitementcategorie/">Traitement Des Catégories</a></button>
           </form>
           </body>
</html>
